## misc editor backups and tmp files
*~
*.save
*.swp


debian/paintitblack-*/
debian/patience-*/

## generated debian files
/debian/debhelper-build-stamp
/debian/files
/debian/*.log
/debian/*.substvars
