Source: farewell-mate-artwork
Section: graphics
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.4
Vcs-Browser: https://git.siduction.org/artwork/env-mate
Vcs-Git: https://git.siduction.org/artwork/env-mate.git


Package: farewell-mate-artwork
Architecture: all
Depends: ${misc:Depends},
         farewell-wallpapers,
         siduction-icons
Recommends: dmz-cursor-theme
Description: Mate theme for farewell
 Release specific metapackage depending on farewell-wallpapers to be
 used in combination with the Mate Desktop Environment.
